@model CabFrontend.Models.ForgotPasswordViewModel;
@{
    ViewData["Title"] = "ForgetPasswordPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/lib/jquery/dist/jquery.js"></script>

<!-- Include Toastr CSS and JavaScript -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

<script src="//ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
<script src="//ajax.aspnetcdn.com/ajax/mvc/4.0/jquery.validate.unobtrusive.min.js"></script>
<link rel="stylesheet" href="~/css/Forgetpassword.css" asp-append-version="true" />
<div id="aa">
    <form id="formReset" asp-controller="User" method="post">
        <div>
            <h1> Reset Password</h1>
            <p>Enter email to get OTP</p>
            <input asp-for="Email" placeholder="Email" required>
            @Html.ValidationMessageFor(Model => Model.Email)
            @if (!string.IsNullOrEmpty(ViewBag.Mes))
            {
                <h4 id="msg" style="color:red"><b>@ViewBag.Mes</b></h4>
            }
            
        </div>
        <br />
        <div>
            <button type="submit" asp-action="ForgetPasswordPage1" asp-controller="User">
                Send OTP
            </button>
        </div>


    </form>

</div>


<script type="text/javascript">
    $(document).ready(function () {
        setTimeout(function () {
            $("#msg").fadeOut();
        }, 5000);
    });
</script>

